<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Simulate </a>
      </li>
      <li class="nav-item">
        <a href="/presets" class="nav-link" routerLink="presets">Edit setpoints</a>
      </li>
      <li class="nav-item">
        <a href="/historical" class="nav-link" routerLink="historic">Historical simulations</a>
      </li>
    </ul>
  </nav>
  <div class="contFainer">
    <router-outlet></router-outlet>
  </div>
</div>
