<div class="home">
  <div class="row">
    <h1>
      Current time:
      <br>
      <div style="font-weight: normal">
        {{currTime}}
      </div>
    </h1>
  </div>

  <div class="row">
    <div class="column">
      <div class="row">
        <h1>
          Current temperatures
        </h1>
      </div>
      <div class="column sensorVals">
        <div class="row desc">
          Internal temperature sensor 1:
          <div class="val">
            {{its1}}°C
          </div>
        </div>

        <div class="row desc">
          Internal temperature sensor 2:
          <div class="val">
            {{its2}}°C
          </div>
        </div>

        <div class="row desc">
          External ambient air sensor 1:
          <div class="val">
            {{eaa}}°C
          </div>
        </div>

      </div>
    </div>
    <div class="column">
      <div class="row">
        <h1>
          Setpoints values
        </h1>
      </div>
      <div class="column sensorVals">
        <div class="row desc">
          Internal temperature:
          <div class="val">
            {{inTemp}}°C
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <button
      (click)="refresh()"
      type="button"
      class="btn btn-primary mr-3">Refresh
    </button>
    <button
      *ngIf="!pid"
      (click)="togglePid()"
      type="button" class="btn btn-warning mr-3">Show PID settings
    </button>

    <button
      *ngIf="pid"
      (click)="togglePid()"
      type="button" class="btn btn-warning mr-3">Hide PID settings
    </button>

  </div>

  <div class="row" *ngIf="pid">
    <div class="column">
      <div class="column pidVals">
        <div class="row desc">
          <div class="pidHelp">
            K_p
          </div>
          <div class="val">
            {{k_p}}
          </div>
        </div>

        <div class="row desc">
          <div class="pidHelp">
            T_p
          </div>
          <div class="val">
            {{t_p}}
          </div>
        </div>

        <div class="row desc">
          <div class="pidHelp">
            T_i
          </div>
          <div class="val">
            {{t_i}}
          </div>
        </div>

        <div class="row desc">
          <div class="pidHelp">
            T_d
          </div>
          <div class="val">
            {{t_d}}
          </div>
        </div>

        <div class="row" style="float: right">
          <button
            style="margin-top: 20px"
            *ngIf="pid"
            (click)="toggleEditPid()"
            type="button" class="btn btn-danger mr-3">Edit PID settings
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="editPid" class="column">
      <div class="column pidVals">

        <div class="row desc">
          <div class="pidHelp">
            K_p
          </div>
          <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 20px">
            <mat-label>K_p</mat-label>
            <input matInput value={{k_p}}>
          </mat-form-field>
        </div>

        <div class="row desc">
          <div class="pidHelp">
            T_p
          </div>
          <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 20px">
            <mat-label>T_p</mat-label>
            <input matInput value={{t_p}}>
          </mat-form-field>
        </div>

        <div class="row desc">
          <div class="pidHelp">
            T_i
          </div>
          <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 20px">
            <mat-label>T_i</mat-label>
            <input matInput value={{t_i}}>
          </mat-form-field>
        </div>

        <div class="row desc">
          <div class="pidHelp">
            T_d
          </div>
          <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 20px">
            <mat-label>T_d</mat-label>
            <input matInput value={{t_d}}>
          </mat-form-field>
        </div>

        <div class="row" style="float: right">
          <button
            *ngIf="pid"
            (click)="sendPidSettings()"
            style="margin-top: 20px"
            type="button" class="btn btn-success mr-3">Write PID settings
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
