<div class="home">
  <div class="row">
    <div class="parametersColumn">

      <div class="row">
        <h1>
          Simulation parameters:
        </h1>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-select (selectionChange)="setpointSelectionChanged($event.value)" placeholder="Preset" single>
            <mat-option *ngFor="let setpoint of setpointList" [value]="setpoint">
              {{setpoint['Setpoint']}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width " appearance="fill">
          <input matInput type="number" name="volume" [ngModel]="this.volume" (ngModelChange)="volumeChanged($event)">
          <mat-label>Volume of terrarium (m³)</mat-label>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width " appearance="fill">
          <input matInput type="number" name="k_p" [ngModel]="this.k_p" (ngModelChange)="kpChanged($event)">
          <mat-label>K_p</mat-label>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width " appearance="fill">
          <input matInput type="number" name="t_p" [ngModel]="this.t_p" (ngModelChange)="tpChanged($event)">
          <mat-label>T_p</mat-label>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput type="number" name="t_i" [ngModel]="this.t_i" (ngModelChange)="tiChanged($event)">
          <mat-label>T_i</mat-label>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width " appearance="fill">
          <input matInput type="number" name="t_d" [ngModel]="this.t_d" (ngModelChange)="tdChanged($event)">
          <mat-label>T_d</mat-label>
        </mat-form-field>
      </div>

      <div class="row">
        <button
          (click)="runSimulation()"
          [disabled]="!selectedSetpoint"
          type="button" class="btn btn-success mr-3 runButton">Run simulation
        </button>
      </div>

    </div>
    <div id=chart class="chartColumn">
      <canvas baseChart
              [data]="lineChartData"
              [type]="'line'"
      >
      </canvas>
    </div>

  </div>
</div>
